/* CUSTOM PROPERTIES */
:root{
    --red: #e50914;
    --background: #141414;
}
/* END CUSTOM PROPERTIES */

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: auto;
    width: 90%;
}
/* END GLOBAL */

/* HEADER */

.header{
    padding: 30px 0;
}

.header__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: var(--red);
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 40px;
}

.navbar__link{
    color: #aaa;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 20px;
}

.navbar__link--selected{
    color: #fff;
}

.navbar__link:hover{
    color: #fff;
}
/* END HEADER */

/* MAIN MOVIE */
.main-movie{
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('/img/mainMovie.jpg');
    background-position: center center;
    background-size: cover;
    color: white;
    display: flex;
    font-size: 16px;
    min-height: 40.62em;
    margin-bottom: 3.12em;
}

.main-movie__container{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.main-movie__title{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.main-movie__description{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.main-movie__button{
    background: rgba(0,0,0, 0.5);
    border: none;
    border-radius: 0.31em;
    cursor: pointer;
    color: white;
    font-size: 1.12em;
    margin-right: 1.25em;
    transition: .3s ease all;
    padding: 0.93em 1.87em;
}

.main-movie__button:hover{
    background: white;
    color: black;
}

.main-movie__icon{
    margin-right: 1.25em;
}
/* END MAIN MOVIE */

/* CAROUSEL */

.recommended-movies__title-and-controls{
    align-items: end;
    display: flex;
    justify-content: space-between;
}

.recommended-movies__title{
    color: white;
    font-size: 30px;
    text-transform: capitalize;    
}

.carousel-button{
    background: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.carousel-button:hover{
    background: red;
}

.recommended-movies{
    margin-bottom: 70px;
}

.recommended-movies__main-container{
    align-items: center;
    display: flex;
    position: relative;
}

.arrow{
    border: none;
    background: rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    height: 50%;
    top: calc(50% - 25%);
    transition: .2s ease all;
    line-height: 40px;
    width: 40px;
    z-index: 500;
}

.arrow:hover{
   background: rgba(0,0,0,.9); 
}
.arrow--left{
    left: 0;
}

.arrow--right{
    right: 0;
}

.carousel-container{
    overflow: hidden;
    padding: 20px 0;
    scroll-behavior: smooth;
    width: 100%;
}

.carousel-container__carousel{
    display: flex;
    flex-wrap: nowrap;
}

.movie{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0 .3);
}

.move--hover{
    transform: scale(1.2);
    transform-origin: center;
}

.movie__image{
    vertical-align: top;
    width: 100%;
}
/* END CAROUSEL */

/* MEDIA QUERIES */

@media only screen and (max-width: 800px){
    .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    .header__container{
        flex-direction: column;
        text-align: center;
    }

    .main-movie{
        font-size: 14px;
    }

    .main-movie__description{
        max-width: 100%;
    }

    .carousel-container{
        overflow: visible;   
    }

    .carousel-container__carousel{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .recommended-movies__controls,
    .arrow{
        display: none;
    }
    
}

/* END MEDIA QUERIES */